* {
    margin: 0;
    padding: 0;
  }
  
  .counter {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 100px auto;
    padding: 0 20px;
    border: 1px solid;
  }
  
  .countValue {
    display: block;
    margin: 50px;
  }
  
  .counterBtn {
    display: block;
    width: 50px;
    height: 30px;
    background-color: #349c14;
    outline: none;
    border: none;
    cursor: pointer;
    align-items: center;
    color: #eee;
    font-weight: 700;
  }